@charset "UTF-8";

/**
 *
 * Variáveis para uso no Site das Escolas
 *
**/

/* ============ Gerais ============ */
$font-family: 	'Ubuntu', sans-serif;
$text-color: 	#414B58;
$color-active:	#4EB1DD;
$white:			#FFFFFF;
$menu-more: 	#2F3337;
$color-categ:	#828282;

/* ============ Home ============ */
$font-home:		1.230rem;
$color-help:	#EFB013;

// Módulo de Destaques
$color-dest: #EFB013;
// Módulo de Vídeos
$color-vid: #828282;
// Módulo de Álbuns
$color-alb: #995FCD;
// Módulo de Recursos
$color-rec: #229C7B;
// Módulo Educação na TV
$color-educ: #955C53;
// Módulo Aniversariantes
$color-aniv: #A5A488;
// Módulo Twitter
$color-tt: #1E97E2;
// Módulo Facebook
$color-face: #4867AA;
// Módulo Bíblia
$color-bible: #669341;
// Módulo Blog
$color-cal: #A09B1F;
// Módulo Localização
$color-loc: #DD817F;
// Módulo Banner
$color-ban: #33C6D2;
// Módulo Enquete
$color-enq: #E6553C;
// Módulos Fixos
$color-fix: #000000;
// Módulo Portal
$color-portal: #8D2242;
// Módulo Sobre e Páginas
$color-pages: #45688D;

/* ============ Footer ============ */
$bg-footer:		#395878;

/* ============ Contato ============ */
$color-contact:	#EAEAEA;